/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~bulma/bulma.sass";
@import "~font-awesome/css/font-awesome.css";
@import "~react-responsive-modal/lib/react-responsive-modal.css";
@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-select/dist/react-select.css';
@import "./components/create.scss";
@import "./components/content.scss";
@import "./components/sidebar.scss";
@import "./components/custom.scss";

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
