# OS X
.DS_Store*
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Build targets
release
dev
deploy
build

# Local config files
**/config/local.*

# Hidden files
*.aes
.env
/*.env
.ssh
.tmp
.keys
.tmp

.nyc_output/
