**/dist/**
**/node_modules/**
./node_modules/**
./packages/lan/node_modules/**
**/release/**
**/realm-object-server/**
**/data/**
**/.bin/**

# packages covered by rome
packages/api-client/
packages/constants/
packages/simulator/
