#
# Edwin, Chris, Rohan, Daniel and Félix currently own sync, because it's complicated and fragile
# functionality that's core to the app, and sync bugs have scary potential for
# data loss.
#
# This doesn't mean you can't work on it! It just means they should review
# changes to the following areas of the repo.
#
# See Slack discussion:
# https://beyondessential.slack.com/archives/GE9NHB95F/p1649711118757929
#
/packages/shared/src/sync/                              @edmofro @chris-bes @rohan-bes @dannash100 @passcod
/packages/facility-server/app/sync/                     @edmofro @chris-bes @rohan-bes @dannash100 @passcod
/packages/central-server/app/sync/                      @edmofro @chris-bes @rohan-bes @dannash100 @passcod
/packages/mobile/App/services/sync/                     @edmofro @chris-bes @rohan-bes @dannash100 @passcod
/packages/database/src/sync/                            @edmofro @chris-bes @rohan-bes @dannash100 @passcod

#
# The deployment team are code owner of the default config files to make sure
# that they're across any changes that might need to be made to any particular
# server.
#
/packages/central-server/config/default.json5   @beyondessential/tamanu-deployment-team
/packages/facility-server/config/default.json5  @beyondessential/tamanu-deployment-team
/packages/settings/schema/facility.ts           @beyondessential/tamanu-deployment-team
/packages/settings/schema/central.ts            @beyondessential/tamanu-deployment-team
/packages/settings/schema/global.ts             @beyondessential/tamanu-deployment-team
/packages/settings/schema/definitions/*/*.ts    @beyondessential/tamanu-deployment-team

#
# Kamaka needs to be across changes to the PM2 config files, as they're critical
# to the deployment process on Windows.
#
pm2*.config.js  @beyondessential/kamaka

#
# Kamaka gates the deployment workflows (Tailscale, Pulumi, release & deploy
# infrastructure) since changes to these have external implications.
#
/.github/workflows/cd.yml                      @beyondessential/kamaka
/.github/workflows/cd-up.yml                   @beyondessential/kamaka
/.github/workflows/cd-down.yml                 @beyondessential/kamaka
/.github/workflows/cd-fake-data.yml            @beyondessential/kamaka
/.github/workflows/cleanup-auto-deploy.yml     @beyondessential/kamaka
/.github/workflows/stale-auto-deploy.yml       @beyondessential/kamaka
/.github/workflows/publish-release-version.yml @beyondessential/kamaka
/.github/actions/setup-cd/                     @beyondessential/kamaka

#
# Maui needs to be across any changes to database tables
#
/packages/database/src/migrations/ @beyondessential/maui
