html {
  --font-stack-sans:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-stack-mono:
    ui-monospace, SFMono-Regular, 'SF Mono', 'IBM Plex Mono', 'Fira Mono', 'Cascadia Code', Menlo,
    Consolas, 'Liberation Mono', monospace;
  font-family: var(--font-stack-sans);
}

code,
pre {
  font-family: var(--font-stack-mono);
}
