services:
  app:
    image: mcr.microsoft.com/devcontainers/javascript-node:1-20-bookworm
    volumes:
      - ../..:/workspaces:cached
      - ~/.ssh:/root/.ssh:ro # Use the host SSH config.
    command: sleep infinity

  central-db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      # - central-data:/var/lib/postgresql/data # Uncomment this line to persist data.
      - ./db/central.sql.gz:/docker-entrypoint-initdb.d/init.sql.gz
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432 # Allow access to this database via localhost:5432.

  facility-db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      # - facility-data:/var/lib/postgresql/data # Uncomment this line to persist data.
      - ./db/facility.sql.gz:/docker-entrypoint-initdb.d/init.sql.gz
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - 5433:5432 # Allow access to this database via localhost:5433.

  test-db:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - 5434:5432 # Allow access to this database via localhost:5433.

volumes:
  central-data:
  facility-data:
