name: CD Down

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: true
      deploy-name:
        type: string
        required: true
      options:
        type: string
        required: true
      check-branch:
        type: boolean
        default: true
    secrets:
      PULUMI_ACCESS_TOKEN:
        required: true
      TAMANU_OPS_SSH:
        required: true

permissions:
  contents: write # to update the release notes
  pull-requests: write
  id-token: write # for Tailscale OIDC authentication

jobs:
  down:
    name: Bring down ${{ inputs.deploy-name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: setup
        uses: ./.github/actions/setup-cd
        with:
          ops-ssh-key: ${{ secrets.TAMANU_OPS_SSH }}

      - name: Check namespace
        id: check
        continue-on-error: true # so a false check doesn't make the workflow fail
        run: |
          NS_NAME="tamanu-${{ inputs.deploy-name }}"
          if kubectl -n tamanu-super get subnamespaceanchor "$NS_NAME" 2>/dev/null; then
            echo "Namespace exists"
            if ${{ inputs.check-branch }}; then
              echo "Checking it's matched to this branch"
              if kubectl -n "$NS_NAME" \
                get configmap auto-deploy -o json \
                | tee -a /dev/stderr \
                | jq -e '.data | [.repo == "${{ github.repository }}", .ref == "${{ inputs.ref }}"] | all | not'
              then
                echo "Namespace doesn't belong to this branch, not deleting"
                exit 1
              fi
            fi
          else
            echo "Namespace doesn't exist, no need to delete"
            exit 1
          fi

      - name: Get full stack name
        id: stack
        working-directory: ops/pulumi/stacks/${{ fromJson(inputs.options).opsstack }}
        run: |
          project=$(ruby -e 'require "yaml"; puts YAML.load(open "Pulumi.yaml")["name"]')
          echo "stackname=bes/$project/${{ inputs.deploy-name }}" >> $GITHUB_OUTPUT

      - # outcome is from before continue-on-error, so will skip if check fails
        if: steps.check.outcome == 'success'
        id: down
        name: Down!
        uses: pulumi/actions@v5
        with:
          work-dir: ops/pulumi/stacks/${{ fromJson(inputs.options).opsstack }}
          command: destroy
          remove: true
          stack-name: ${{ steps.stack.outputs.stackname }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-pr: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}

      - # we always need to delete the namespace anchor as pulumi is configured not to manage it
        # additionally, if the pulumi destroy failed, this will hard-delete all the resources
        if: always()
        name: Delete namespace
        run: |
          NS_NAME="tamanu-${{ inputs.deploy-name }}"
          if kubectl -n tamanu-super get subnamespaceanchor "$NS_NAME" 2>/dev/null; then
            echo "Deleting namespace"
            kubectl -n tamanu-super delete subnamespaceanchor "$NS_NAME" --wait=true
          fi

      - # if the pulumi destroy had failed, then the namespace delete will have deleted the
        # actual resources, but we run pulumi destroy again to clean up the pulumi state
        if: always() && steps.down.outcome != 'success'
        continue-on-error: true
        name: Down again!
        uses: pulumi/actions@v5
        with:
          work-dir: ops/pulumi/stacks/${{ fromJson(inputs.options).opsstack }}
          command: destroy
          remove: true
          stack-name: ${{ steps.stack.outputs.stackname }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-pr: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
