name: CD DBT docs

on:
  push:
    tags: ['v*.*.*']
    branches:
      - main
      - release/*

env:
  NODE_OPTIONS: "--max-old-space-size=6144"
  NODE_ENV: test
  NODE_MODULES_PATHS: |
    node_modules
    packages/*/node_modules

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write # to update the release notes
  id-token: write # OIDC token for AWS

jobs:
  config:
    name: Build and deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
         ref: ${{ github.head_ref || github.ref }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install dbt-core dbt-postgres

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: npm

      - uses: actions/cache/restore@v3
        with:
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
          path: ${{ env.NODE_MODULES_PATHS }}

      - run: npm i

      - name: Install and start postgres
        run: |
          source .github/scripts/install-postgres-ubuntu.sh 17

          createuser --superuser tamanu
          psql -c "ALTER USER tamanu PASSWORD 'tamanu';" postgres
          createdb -O tamanu central

      - name: Build
        run: |
          npm run build-shared
          npm run --workspace @tamanu/central-server build

      - name: Configure Tamanu
        run: |
          echo '{"db":{"host":"localhost","name":"central","username":"tamanu","password":"tamanu"}}' > packages/central-server/config/local.json5

      - name: Run Migrations
        run: |
          npm run --workspace @tamanu/central-server start upgrade

      - name: Generate DBT docs
        run: |
          pip3 install dbt-core dbt-postgres
          npm run dbt-generate-docs

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-southeast-2
          role-to-assume: arn:aws:iam::491618206332:role/gha-dbt-docs-tamanu
          role-session-name: GHA@Tamanu=DBT

      - name: Upload docs to S3
        run: |
          aws s3 sync database/docs/target s3://bes-data-docs/tamanu/${{ github.ref_name }}/ \
            --delete \
            --cache-control "max-age=3600" \
            --exclude "*" \
            --include "catalog.json" \
            --include "index.html" \
            --include "manifest.json"

      - name: Update GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          append_body: true
          body: |
            ## DBT Documentation
            The DBT documentation for this release is available at:
            - [DBT Docs](https://docs.data.bes.au/tamanu/${{ github.ref_name }})

      - name: Post to meta
        if: startsWith(github.ref, 'refs/tags/v')
        continue-on-error: true
        uses: ./.github/actions/meta-api
        with:
          url: ${{ vars.META_URL }}
          crt: ${{ secrets.META_CERT }}
          key: ${{ secrets.META_KEY }}
          api: /artifacts/${{ github.ref_name }}/dbt-manifest/any
          arg: --data-binary 'https://docs.data.bes.au/tamanu/${{ github.ref_name }}/manifest.json'
