name: Cut Release Branch

on:
  workflow_dispatch:
    inputs:
      version:
        description: Next version number
        required: true
        default: minor

jobs:
  run:
    name: Cut Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
      with:
        ref: main
        token: ${{ secrets.TAMANU_RELEASE_PAT }}

    - uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Create new release branch
      uses: actions/github-script@v6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const cwd = '${{ github.workspace }}';
          const { createReleaseBranch } = await import(`${cwd}/scripts/gha-release-ops.mjs`);
          await createReleaseBranch(await import('fs'), github, context, cwd);

    - name: Bump version on main
      run: node scripts/version.mjs '${{ github.event.inputs.version }}'

    - name: Commit and push
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        version=$(jq -r .version package.json)
        git commit -am "Bump version to $version"
        git push
